* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
$fa-font-path: "../webfonts";

$fontcolore:rgba(255, 255, 255, 0.486);
$fontcoloremax:rgba(255, 255, 255, 0.897);
$color1: #75b1a9;
$color2:#d9b44a;
$color3:#4f6457;
$color4:#acd0c0;

.full {
    margin: 0 auto;
    height: auto;
    color: white;
}

.background__phone {

    height: 100vh;
    width: 100%;
    background: url('../img/teteatete.jpg') no-repeat;
    background-size: cover;
    background-position: top;

}

.background__video {

    position: relative;
    max-width: 100%;
    // min-height: 100vh;
    background-size: cover;
    min-height: auto;
    // margin-top: 1%;
    margin: 0 auto;
    width: 100%;
    min-height: 98%;
    // padding: 2% 0;
    display: flex;
    justify-items: center;
    align-items: center;

    // flex-direction: column;

    .line11 {
        position: absolute;
        top: 21%;
        height: 1px;
        width: 2%;
        right: 7%;
        /* background-color: #fff; */
        border-top: 1px dashed rgba(255, 255, 255, 0.486);
        // transform: transition 1s;
    }

    .line21 {
        position: absolute;
        top: 19%;
        height: 4%;
        width: 1px;
        /* background-color: #fff; */
        right: 8%;
        border-left: 1px dashed rgba(255, 255, 255, 0.486);
    }

    .line12 {
        position: absolute;
        bottom: 21%;
        height: 1px;
        width: 2%;
        left: 7%;
        /* background-color: #fff; */
        border-top: 1px dashed rgba(255, 255, 255, 0.486);
    }

    .line22 {
        position: absolute;
        bottom: 19%;
        height: 4%;
        width: 1px;
        /* background-color: #fff; */
        left: 8%;
        border-left: 1px dashed rgba(255, 255, 255, 0.486);
    }

    .nav {
        position: absolute;
        // position: relative;
        top: 0px;
        width: 100%;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.486);

        padding: 1%;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        background-color: rgba(255, 255, 255, 0.431);

        .nav__inner {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .nav__logo {
                margin-left: -5%;
            }

            .lista {
                width: 30%;
                display: flex;
                justify-content: space-around;
                margin-right: -18%;

                a {
                    text-decoration: none;
                    color: white;
                }

            }
        }


    }




    .devh1 {
        .line1 {
            position: absolute;
            top: -20px;
            height: 1px;
            width: 115%;
            right: -46px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1s linear 1;
        }

        .line2 {
            position: absolute;
            top: -24px;
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.5s linear 1;

        }

        .line3 {
            position: absolute;
            left: -30px;
            height: 205%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-y 1.2s linear 1;
        }

        .line4 {
            position: absolute;
            left: -35px;
            height: 240%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            top: -94%;
            animation: liney-y 1.4s linear 1;
        }

        .line5 {
            bottom: 36%;
            position: absolute;
            right: -30px;
            height: 179%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-y 1s linear 1;
        }

        .line6 {
            bottom: -115%;
            position: absolute;
            right: -35px;
            height: 196%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-y 1.1s linear 1;
        }

        .line7 {
            bottom: -102%;
            position: absolute;
            right: -54px;
            height: 1px;
            width: 92%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.2s linear 1;
        }

        .line8 {
            bottom: -79%;
            position: absolute;
            right: -40px;
            height: 1px;
            width: 40%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.4s linear 1;
        }

        .line9 {
            bottom: -84%;
            position: absolute;
            right: 99%;
            height: 1px;
            width: 18%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.1s linear 1;
        }

        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.5em;
        font-size-adjust: inherit;
        color: #fff;
        z-index: 2;
        font-family: 'Oswald',
        sans-serif;
        letter-spacing: 7px;
        font-weight: 100;




    }






    .background__video-video {
        width: 100%;
        // min-height: 100%;
        z-index: -1;


    }
}




.footer__container {
    font-family: 'Oswald',
        sans-serif;
    max-height: 250px;
    width: 100%;
    background-color: #000000bf;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px dashed rgba(255, 255, 255, 0.486);

    a {
        color: rgba(255, 255, 255, 0.733);

        &:hover {
            color: rgba(255, 255, 255, 0.233);

            transition: 0.5s;
        }
    }

    .footer__container-inner {
        // height: 100%;
        width: 50%;
        padding: 3%;
        align-items: center;

        ul {
            height: 100%;
            display: flex;
            // flex-direction: column;
            justify-content: space-around;
            margin-left: 27%;
            align-items: center;
        }

        li {

            padding: 1%;
            font-size: 0.6em;
        }
    }

    .social {
        display: flex;
        width: 50%;
        // height: 100%;
        padding: 2%;
        border-left: 1px dashed rgba(255, 255, 255, 0.486);

        .social__icons {
            display: flex;
            flex-direction: row;
            font-size: 25px;
            width: 100%;
            height: 100%;
            // align-items: center;
            justify-content: space-around;
            margin: 0 21% 0 0;


        }
    }
}


@keyframes liney-z {
    0% {
        width: 0;
    }

    100% {
        width: 100% width;
    }
}

@keyframes liney-y {
    0% {
        height: 0;
    }

    100% {
        height: 100% height;
    }
}

@mixin textGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {

    color: $textColor;
    position: relative;
    $steps: $intensity;

    // Ensure the @keyframes are generated at the root level
    @at-root {

        // We need two different ones
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                        clip: rect(random($height)+px,
                            $width+px,
                            random($height)+px,
                            0);
                    }
                }
            }
        }
    }

    &:before,
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $background;
        clip: rect(0, 0, 0, 0);
    }

    &:after {
        left: 1px;
        text-shadow: -1px 0 $highlightColor1;
        animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }

    &:before {
        left: -1px;
        text-shadow: 1px 0 $highlightColor2;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }

}

.glitch {
    font-size: 21px;
    @include textGlitch("example-one", 15, rgb(255, 255, 255), transparent, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), 170, 20);
}


.tech__container {
    border: 1px dashed rgba(255, 255, 255, 0.486);

    display: flex;

    flex-direction: column;
    color: rgb(255, 0, 0);
    /* height: 400px; */
    /* width: 90%; */
    padding: 1% 1% 7% 1%;
    margin: 0 auto;
    margin-bottom: 3%;
    border-bottom: black 1px dashed;

    .tech__container-title {
        text-align: left;
        font-size: 2em;
        // padding: 3%;
        font-family: 'Righteous', cursive;
        position: relative;
        width: 100px;
        z-index: 1;
        // margin-bottom: 3%;

        color: #000;

        @media (min-width: 1000px) {
            font-size: 3em;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 200%;
            height: 50%;
            background-color: $color2;
            z-index: -1;

        }
    }

    .tech__container-inner {
        display: flex;
        justify-content: space-around;
        align-content: center;
        color: black;
        font-size: 7em;
        padding: 8% 0;
        // padding: 7% 0;

    }
}


@mixin imageGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {

    color: $textColor;
    position: relative;
    $steps: $intensity;

    // Ensure the @keyframes are generated at the root level
    @at-root {

        // We need two different ones
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                        clip: rect(random($height)+px,
                            $width+px,
                            random($height)+px,
                            0);
                    }
                }
            }
        }
    }

    &:before,
    &:after {
        // content: attr(data-set);
        // ;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        clip: rect(0, 0, 0, 0);
    }

    &:after {
        left: 1px;
        text-shadow: -1px 0 $highlightColor1;
        animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }

    &:before {
        left: -1px;
        text-shadow: 1px 0 $highlightColor2;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }

}

@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import "../scss/brands.scss";


.htmle,
.sassy,
.cssy,
.reacty,
.jscripty,
.nody,
.gity,
.wordpressy {
    @extend %fa-icon;
    @extend .fab;
    @include imageGlitch("example-one", 14, $color3, transparent, rgb(255, 0, 0), rgb(38, 0, 255), 80, 80);
}

.htmle {


    &:before,
    &:after {
        content: fa-content($fa-var-html5);
    }
}

.sassy {


    &:before,
    &:after {
        content: fa-content($fa-var-sass);
    }
}

.cssy {


    &:before,
    &:after {
        content: fa-content($fa-var-css3-alt);
    }
}

.reacty {


    &:before,
    &:after {
        content: fa-content($fa-var-react);
    }
}

.jscripty {


    &:before,
    &:after {
        content: fa-content($fa-var-js-square);
    }
}



.gity {


    &:before,
    &:after {
        content: fa-content($fa-var-git-square);
    }
}

.nody {


    &:before,
    &:after {
        content: fa-content($fa-var-node);
    }
}

.wordpressy {


    &:before,
    &:after {
        content: fa-content($fa-var-wordpress);
    }
}

.schools {
    border-bottom: black 1px dashed;
    margin-bottom: 3%;
}

.school__container {
    height: auto;
    width: 100%;
    padding: 1% 1% 4% 1%;

    .school__button-container {
        // width:50px;
        // height:50px;
        // background-color:black;
        // margin: 0 auto;
        color: $color2;
        font-size: 2em;
        text-align: center;

        .school__button {
            cursor: pointer;
            display: inline;
        }
    }

    .school__container-title {
        text-align: left;
        font-size: 2em;
        // padding: 3%;
        font-family: 'Righteous', cursive;
        // margin: 7% 0;
        position: relative;
        width: 100px;
        z-index: 1;
        margin-bottom: 3%;
        color: #000;

        @media (min-width: 1000px) {
            font-size: 3em;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 200%;
            height: 50%;
            background-color: $color2;
            z-index: -1;

        }
    }

    .school__container-inner {
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        align-items: center;
        color: black;
        // background: #0000009c;

        .school__coders-logo {

            background: url("../img/10890080.png") no-repeat;
            background-position: center;
            background-size: contain;
            width: 50%;
            height: 100px;
            margin-bottom: 4%;

        }

        .school__alx-logo {
            background: url("../img/alx.png") no-repeat;
            background-position: center;
            background-size: contain;
            width: 50%;
            height: 100px;
            margin-bottom: 4%;
        }





    }
}

.school_container-lists {
    display: flex;
    justify-content: space-around;
    color: black;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    transition: 1s ease-in;

    .school__coders-main,
    .school__alx-main {
        width: 50%;
    }

    .school__coders-list,
    .school__alx-list {
        padding: 3%;
        letter-spacing: 5px;
        line-height: 1.3em;
        font-size: 1.3em;
        text-align: center;
    }

    .school__coders-list-title,
    .school__alx-list-title {
        text-align: center;
        // letter-spacing: 10px;
        line-height: 1.5em;
        font-size: 1.5em;
    }



}

// -------------------------About

.container__about {
    // display: flex;
    // flex-direction: column;
    // color: #000;
    // height: 400px;
    // width: 90%;
    // padding: 1%;
    // margin: 0 auto;
    // margin-bottom: 3%;

    display: flex;

    flex-direction: column;
    color: #000;
    /* height: 400px; */

    padding: 1% 1% 7% 1%;
    margin: 0 auto;
    // margin-bottom: 3%;
    border-bottom: black 1px dashed;

    .container__about-title {
        text-align: left;
        font-size: 2em;
        // padding: 3%;
        font-family: 'Righteous', cursive;
        // margin: 7% 0;
        position: relative;
        width: 100px;
        z-index: 1;
        margin-bottom: 3%;

        @media (min-width: 1000px) {
            font-size: 3em;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 200%;
            height: 50%;
            background-color: $color2;
            z-index: -1;

        }
    }

    .container__about-inner {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        font-family: 'Oswald', sans-serif;

        .about__fast-pic,
        .about__creative-pic,
        .about__learning-pic,
        .about__responsible-pic {
            font-size: 2.5em;
            padding: 1%;
            color: $color3;

            @media (min-width: 1000px) {
                font-size: 6em;
            }
        }

        .about__fast-title,
        .about__creative-title,
        .about__learning-title,
        .about__responsible-title {
            // position: absolute;
            // top: 0;
            font-size: 1em;
            padding: 1%;
            color: $color3;

            @media (min-width: 1000px) {
                font-size: 2em;
            }
        }

        .about__fast-text,
        .about__creative-text,
        .about__learning-text,
        .about__responsible-text {
            font-size: 0.7em;
            padding: 1%;

            @media (min-width: 1000px) {
                font-size: 1em;
            }
        }

        .about__fast,
        .about__creative,
        .about__learning,
        .about__responsible {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 1%;
            // position: relative;

        }



    }
}

.about__text-main {
    color: #000;
    display: flex;
    padding: 0 1% 7% 1%;
    margin: 0 auto;
    margin-bottom: 3%;
    border-bottom: black 1px dashed;
    background: url(../img/mariusz.jpeg) no-repeat center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    // opacity: 0.3;
    height: 400px;
    justify-content: flex-end;

}

.about__text-picture {
    // background: url(../img/P3272777-01.jpeg) no-repeat center;

}

.about__text-text {
    z-index: 2;
    color: white;
    font-size: 1em;
    z-index: 2;
    color: white;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 35%;
    font-family: 'Oswald', sans-serif;
    line-height: 1.4;

    @media (min-width: 1000px) {
        font-size: 1.5em;
    }
}

@media (min-width: 1000px) {
    .background__phone {
        display: none;
    }

}



@media (max-width: 1000px) {
    .background__video-video {
        display: none;


    }

    .tech__container {
        .tech__container-inner {
            font-size: 2.5em;
        }
    }

    .background__video {
        .devh1 {
            .line1 {
                position: absolute;
                top: -20px;
                height: 1px;
                width: 115%;
                right: -46px;
                background-color: $fontcoloremax;
                animation: liney-z 1s linear 1;
            }

            .line2 {
                position: absolute;
                top: -24px;
                height: 1px;
                width: 100%;
                background-color: $fontcoloremax;
                animation: liney-z 1.5s linear 1;

            }

            .line3 {
                position: absolute;
                left: -30px;
                height: 205%;
                width: 1px;
                background-color: $fontcoloremax;
                animation: liney-y 1.2s linear 1;
            }

            .line4 {
                position: absolute;
                left: -35px;
                height: 240%;
                width: 1px;
                background-color: $fontcoloremax;
                top: -94%;
                animation: liney-y 1.4s linear 1;
            }

            .line5 {
                bottom: 36%;
                position: absolute;
                right: -30px;
                height: 179%;
                width: 1px;
                background-color: $fontcoloremax;
                animation: liney-y 1s linear 1;
            }

            .line6 {
                bottom: -115%;
                position: absolute;
                right: -35px;
                height: 196%;
                width: 1px;
                background-color: $fontcoloremax;
                animation: liney-y 1.1s linear 1;
            }

            .line7 {
                bottom: -102%;
                position: absolute;
                right: -54px;
                height: 1px;
                width: 92%;
                background-color: $fontcoloremax;
                animation: liney-z 1.2s linear 1;
            }

            .line8 {
                bottom: -79%;
                position: absolute;
                right: -40px;
                height: 1px;
                width: 40%;
                background-color: $fontcoloremax;
                animation: liney-z 1.4s linear 1;
            }

            .line9 {
                bottom: -84%;
                position: absolute;
                right: 99%;
                height: 1px;
                width: 18%;
                background-color: $fontcoloremax;
                animation: liney-z 1.1s linear 1;
            }

            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: 1.5em;
            font-size-adjust: inherit;
            color: #fff;
            z-index: 2;
            font-family: 'Oswald',
            sans-serif;
            letter-spacing: 7px;
            font-weight: 100;

        }
    }


}

.projects__container {
    border-bottom: black 1px dashed;
    // margin-bottom: 3%;

    .projects__container-title {
        text-align: left;
        font-size: 2em;
        // padding: 3%;
        font-family: 'Righteous', cursive;
        // margin: 7% 0;
        position: relative;
        width: 100px;
        z-index: 1;
        margin-bottom: 3%;
        color: #000;

        @media (min-width: 1000px) {
            font-size: 3em;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 200%;
            height: 50%;
            background-color: $color2;
            z-index: -1;

        }
    }


    .projects__container-inner {
        display: flex;
        height: 300px;
        margin: 20px 0;

        // padding: 10px;
        @media (max-width: 1000px) {
            height: 150px;
        }


        .projects-1 {
            background: url(../img/projekt1.png) no-repeat;
            background-position: center;
            background-size: cover;
            height: 90%;
            width: 100%;
            // margin: 1%;
            margin-right: 0;
            transition: 0.5s;

            &:hover {
                opacity: 0.7;
                scale: 1.1;
                background-color: #fff;

            }

            .drugi {
                width: 100%;
                height: 100%;
                color: rgb(0, 0, 0);
                background-color: transparent;
                z-index: 22;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }

        .projects-2 {
            background: url(../img/snejk.png) no-repeat;
            background-position: center;
            background-size: cover;
            height: 90%;
            width: 100%;
            // margin: 1%;
            margin-right: 0;
            transition: 0.5s;

            &:hover {
                opacity: 0.5;
                scale: 1.1;
                background-color: #fff;

            }

            .drugi1 {
                width: 100%;
                height: 100%;
                color: rgb(0, 0, 0);
                background-color: transparent;
                z-index: 22;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }

        .projects-3 {
            background: url(../img/under-constj.png) no-repeat;
            background-position: center;
            background-size: cover;
            height: 90%;
            width: 100%;
            // margin: 1%;
            transition: 0.5s;

            &:hover {
                opacity: 0.7;
                scale: 1.1;
                background-color: #fff;

            }

            .drugi2 {
                width: 100%;
                height: 100%;
                color: rgb(0, 0, 0);
                background-color: transparent;
                z-index: 22;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }
    }

}

.container__about {
    justify-content: center;
    // min-height: 80vh;

    @media (min-width: 1000px) {
        min-height: 80vh;

    }


}

.formularz {
    background: $color1;
    padding: 3% 0;
    font-family: 'Oswald',

    form,
    input,
    select,
    textarea {
        margin: 0;
        padding: 0;
        color: #000000;

    }

    div.box {
        align-items: center;
        margin: 0 auto;
        /* width: 500px; */
        // background: #222222;
        /* position: relative; */
        /* top: 50px; */
        /* border: 1px solid #262626; */
        display: flex;
        flex-direction: column;
    }
}

// div.box h1 {
//     color: #ffffff;
//     font-size: 18px;
//     text-transform: uppercase;
//     padding: 5px 0 5px 5px;
//     border-bottom: 1px solid #161712;
//     border-top: 1px solid #161712;
// }
.form__container-title {
    text-align: left;
    font-size: 2em;
    // padding: 3%;
    font-family: 'Righteous', cursive;
    // margin: 7% 0;
    position: relative;
    width: 100px;
    z-index: 1;
    margin-bottom: 3%;
    color: #000;

    @media (min-width: 1000px) {
        font-size: 3em;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 200%;
        height: 50%;
        background-color: $color2;
        z-index: -1;

    }
}

div.box label {
    width: 100%;
    display: block;
    background: $color1;
    // border-top: 1px solid #262626;
    // border-bottom: 1px solid #161712;
    padding: 10px 0 10px 0;
}

div.box label span {
    display: block;
    // color: #bbbbbb;
    font-size: 12px;
    float: left;
    width: 25%;
    text-align: right;
    padding: 5px 20px 0 0;
}

div.box .wpis {
    padding: 10px 10px;
    width: 50%;
    // background: #262626;
    border-bottom: 1px double $color3;
    border-top: 1px double $color3;
    border-left: 1px double $color3;
    border-right: 1px double $color3;
}

div.box .wiadomosc {
    padding: 7px 7px;
    width: 50%;
    // background: #262626;
    border-bottom: 1px double $color3;
    border-top: 1px double $color3;
    border-left: 1px double $color3;
    border-right: 1px double $color3;
    overflow: hidden;
    height: 150px;
}

div.box .button {
    margin: 0 0 10px 0;
    padding: 4px 7px;
    background: $color2;
    border: 0px;
    // position: relative;
    // top: 10px;
    // left: 382px;
    width: 100px;
    border: 1px double $color3;
}