* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@import "../scss/fontawesome.scss";
@import "scss/solid.scss";
$fa-font-path: "../webfonts";

$fontcolore:rgba(255, 255, 255, 0.486);
$fontcoloremax:rgba(255, 255, 255, 0.897);

.full {
    margin: 0 auto;
    height: auto;
    color: white;
}

.background__phone {

    height: 100vh;
    width: 100%;
    background: url('../img/teteatete.jpg') no-repeat;
    background-size: cover;
    background-position: top;

}

.background__video {

    position: relative;
    max-width: 100%;
    // min-height: 100vh;
    background-size: cover;
    min-height: auto;
    // margin-top: 1%;
    margin: 0 auto;
    width: 100%;
    min-height: 98%;
    // padding: 2% 0;
    display: flex;
    justify-items: center;
    align-items: center;

    // flex-direction: column;

    .line11 {
        position: absolute;
        top: 21%;
        height: 1px;
        width: 2%;
        right: 7%;
        /* background-color: #fff; */
        border-top: 1px dashed rgba(255, 255, 255, 0.486);
        // transform: transition 1s;
    }

    .line21 {
        position: absolute;
        top: 19%;
        height: 4%;
        width: 1px;
        /* background-color: #fff; */
        right: 8%;
        border-left: 1px dashed rgba(255, 255, 255, 0.486);
    }

    .line12 {
        position: absolute;
        bottom: 21%;
        height: 1px;
        width: 2%;
        left: 7%;
        /* background-color: #fff; */
        border-top: 1px dashed rgba(255, 255, 255, 0.486);
    }

    .line22 {
        position: absolute;
        bottom: 19%;
        height: 4%;
        width: 1px;
        /* background-color: #fff; */
        left: 8%;
        border-left: 1px dashed rgba(255, 255, 255, 0.486);
    }

    .nav {
        position: absolute;
        // position: relative;
        top: 0px;
        width: 100%;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.486);

        padding: 1%;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        background-color: rgba(255, 255, 255, 0.431);

        .nav__inner {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .nav__logo {
                margin-left: -5%;
            }

            .lista {
                width: 30%;
                display: flex;
                justify-content: space-around;
                margin-right: -18%;

            }
        }


    }




    .devh1 {
        .line1 {
            position: absolute;
            top: -20px;
            height: 1px;
            width: 115%;
            right: -46px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1s linear 1;
        }

        .line2 {
            position: absolute;
            top: -24px;
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.5s linear 1;

        }

        .line3 {
            position: absolute;
            left: -30px;
            height: 205%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-y 1.2s linear 1;
        }

        .line4 {
            position: absolute;
            left: -35px;
            height: 240%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            top: -94%;
            animation: liney-y 1.4s linear 1;
        }

        .line5 {
            bottom: 36%;
            position: absolute;
            right: -30px;
            height: 179%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-y 1s linear 1;
        }

        .line6 {
            bottom: -115%;
            position: absolute;
            right: -35px;
            height: 196%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-y 1.1s linear 1;
        }

        .line7 {
            bottom: -102%;
            position: absolute;
            right: -54px;
            height: 1px;
            width: 92%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.2s linear 1;
        }

        .line8 {
            bottom: -79%;
            position: absolute;
            right: -40px;
            height: 1px;
            width: 40%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.4s linear 1;
        }

        .line9 {
            bottom: -84%;
            position: absolute;
            right: 99%;
            height: 1px;
            width: 18%;
            background-color: rgba(255, 255, 255, 0.486);
            animation: liney-z 1.1s linear 1;
        }

        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.5em;
        font-size-adjust: inherit;
        color: #fff;
        z-index: 2;
        font-family: 'Oswald',
        sans-serif;
        letter-spacing: 7px;
        font-weight: 100;




    }






    .background__video-video {
        width: 100%;
        // min-height: 100%;
        z-index: -1;


    }
}




.footer__container {
    font-family: 'Oswald',
        sans-serif;
    max-height: 250px;
    width: 100%;
    background-color: #000000bf;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px dashed rgba(255, 255, 255, 0.486);

    a {
        color: rgba(255, 255, 255, 0.733);

        &:hover {
            color: rgba(255, 255, 255, 0.233);

            transition: 0.5s;
        }
    }

    .footer__container-inner {
        // height: 100%;
        width: 50%;
        padding: 3%;
        align-items: center;

        ul {
            height: 100%;
            display: flex;
            // flex-direction: column;
            justify-content: space-around;
            margin-left: 27%;
            align-items: center;
        }

        li {

            padding: 1%;
            font-size: 0.6em;
        }
    }

    .social {
        display: flex;
        width: 50%;
        // height: 100%;
        padding: 2%;
        border-left: 1px dashed rgba(255, 255, 255, 0.486);

        .social__icons {
            display: flex;
            flex-direction: row;
            font-size: 25px;
            width: 100%;
            height: 100%;
            // align-items: center;
            justify-content: space-around;
            margin: 0 21% 0 0;

            .fb {}

            .insta {}

            .linked {}
        }
    }
}


@keyframes liney-z {
    0% {
        width: 0;
    }

    100% {
        width: 100% width;
    }
}

@keyframes liney-y {
    0% {
        height: 0;
    }

    100% {
        height: 100% height;
    }
}

@mixin textGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {

    color: $textColor;
    position: relative;
    $steps: $intensity;

    // Ensure the @keyframes are generated at the root level
    @at-root {

        // We need two different ones
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                        clip: rect(random($height)+px,
                            $width+px,
                            random($height)+px,
                            0);
                    }
                }
            }
        }
    }

    &:before,
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $background;
        clip: rect(0, 0, 0, 0);
    }

    &:after {
        left: 1px;
        text-shadow: -1px 0 $highlightColor1;
        animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }

    &:before {
        left: -1px;
        text-shadow: 1px 0 $highlightColor2;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }

}

.glitch {
    font-size: 21px;
    @include textGlitch("example-one", 15, rgb(255, 255, 255), transparent, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), 167, 20);
}


@media (min-width: 1000px) {
    .background__phone {
        display: none;
    }

}



@media (max-width: 1000px) {
    .background__video-video {
        display: none;

    }

    .background__video {
        .devh1 {
            .line1 {
                position: absolute;
                top: -20px;
                height: 1px;
                width: 115%;
                right: -46px;
                background-color: $fontcoloremax;
                animation: liney-z 1s linear 1;
            }

            .line2 {
                position: absolute;
                top: -24px;
                height: 1px;
                width: 100%;
                background-color: $fontcoloremax;
                animation: liney-z 1.5s linear 1;

            }

            .line3 {
                position: absolute;
                left: -30px;
                height: 205%;
                width: 1px;
                background-color: $fontcoloremax;
                animation: liney-y 1.2s linear 1;
            }

            .line4 {
                position: absolute;
                left: -35px;
                height: 240%;
                width: 1px;
                background-color: $fontcoloremax;
                top: -94%;
                animation: liney-y 1.4s linear 1;
            }

            .line5 {
                bottom: 36%;
                position: absolute;
                right: -30px;
                height: 179%;
                width: 1px;
                background-color: $fontcoloremax;
                animation: liney-y 1s linear 1;
            }

            .line6 {
                bottom: -115%;
                position: absolute;
                right: -35px;
                height: 196%;
                width: 1px;
                background-color: $fontcoloremax;
                animation: liney-y 1.1s linear 1;
            }

            .line7 {
                bottom: -102%;
                position: absolute;
                right: -54px;
                height: 1px;
                width: 92%;
                background-color: $fontcoloremax;
                animation: liney-z 1.2s linear 1;
            }

            .line8 {
                bottom: -79%;
                position: absolute;
                right: -40px;
                height: 1px;
                width: 40%;
                background-color: $fontcoloremax;
                animation: liney-z 1.4s linear 1;
            }

            .line9 {
                bottom: -84%;
                position: absolute;
                right: 99%;
                height: 1px;
                width: 18%;
                background-color: $fontcoloremax;
                animation: liney-z 1.1s linear 1;
            }

            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: 1.5em;
            font-size-adjust: inherit;
            color: #fff;
            z-index: 2;
            font-family: 'Oswald',
            sans-serif;
            letter-spacing: 7px;
            font-weight: 100;




        }
    }


}

.tech__container-inner {
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: black;
    font-size: 5em;
    padding: 5% 0;
    // .jqueryy{
    //     @include textGlitch("example-one", 15, rgb(255, 255, 255), transparent, rgb(255, 0, 0), rgb(73, 55, 177), 111, 111);
    // }
}

@mixin imageGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {

    color: $textColor;
    position: relative;
    $steps: $intensity;

    // Ensure the @keyframes are generated at the root level
    @at-root {

        // We need two different ones
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                        clip: rect(random($height)+px,
                            $width+px,
                            random($height)+px,
                            0);
                    }
                }
            }
        }
    }

    &:before,
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("https://img.icons8.com/ios/50/000000/jquery-filled.png") no-repeat;
        clip: rect(0, 0, 0, 0);
    }

    &:after {
        left: 1px;
        text-shadow: -1px 0 $highlightColor1;
        animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }

    &:before {
        left: -1px;
        text-shadow: 1px 0 $highlightColor2;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }

}